table {
    border: 2px solid rgb(104, 104, 104);
    letter-spacing: 1px;
    font-size: 0.8rem;
    margin: 0 auto;
}

td {
    border: 1px solid black !important;
    margin: 5px;
    padding: 3px;
}

div {
    margin-top: 10px;
    text-align: center;
}



.notRead {
    background-color: firebrick;
}

.yesRead{
    background-color: springgreen;
}